html {
	font-family: system-ui, 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #000;
	box-sizing: border-box;
	padding: 0;
}

body {
	padding:20px;	
}

.content {
	columns:5;
}

.one-item {
	padding: 5px;
	user-select: text;
}
